<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Incident Dashboard</h1>

    <a href="{{ url_for('Create') }}">Create New Incident</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>01</td>
                <td>Broken Elevator</td>
                <td>The elevator in Building A is <br>currently out of service,and the<br> door is stuck closed on the 3rd floor </td>
                <td>Open</td>
                <td>

                    <a href="{{ url_for('update', id=incident[0]) }}">Edit</a> |
                    <a href="{{ url_for('delete', id=incident[0]) }}">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
</body>
</html>
